{% extends 'blog/base.html'%}

{% block title %}
Events blog
{% endblock %}

{% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <p class="lead text-muted">Hey there! I'm excited to see you here! You can right now!</p>
        <p>
          <a href="mailto:twentyonetima@mail.ru" class="btn btn-secondary my-2">Mail Me</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% for event in events.all %}

        <div class="col">
          <div class="card shadow-sm">
            <img class="card-img-top" src="{{ event.event_image.url}}" />
            <div class="card-body">
              <p class="card-text">{{ event.event_text }}</p>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>

{% endblock %}