{% extends 'blog/base.html'%}

{% block title %}
Blog
{% endblock %}

{% block content %}
    <h1 class="pt-4 pb-5">Recent post</h1>

    {% for post in posts.all %}
    <a href="{% url 'specific_post' post.id %}">
        <style>
             a { text-decoration: none;}
             a:hover { text-decoration: none; }
             a {color: black}
        </style>
        <h2>{{ post.title }}</h2>
    </a>
    <br/>
    <img src="{{ post.image.url }}" height="300" width="300" class="img-fluid">
    <br/>
    <p>{{ post.get_summary }}</p>
    <p>{{ post.date }}</p>
    <br/>
    <br/>
    {% endfor %}
{% endblock %}