{% extends 'blog/base.html'%}

{% block title %}
About me
{% endblock %}

{% block content %}
<h1 class="pt-4 pb-5">Information about me</h1>

    {% for el in info.all %}
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/twentyonetima">
        <style>
         a { text-decoration: none;}
         a:hover { text-decoration: none; }
         a {color: black}
        </style>
        <h2>{{ el.about_title }}</h2>
     </a>
    <br/>
    <img src="{{ el.about_image.url }}" height="300" width="300" class="img-fluid">
    <br/>
    <br/>
    <p>{{ el.about_text }}</p>
    <br/>
    <br/>
    {% endfor %}
{% endblock %}